= form_for @table_reservation do |f|
  - if @table_reservation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@table_reservation.errors.count, "error")} prohibited this table_reservation from being saved:"
      %ul
        - @table_reservation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .field
    = f.label :table_number
    = f.number_field :table_number
  .actions
    = f.submit 'Save'
