%h1 Listing table_reservations

%table
  %thead
    %tr
      %th Start time
      %th End time
      %th Table number
      %th
      %th
      %th

  %tbody
    - @table_reservations.each do |table_reservation|
      %tr
        %td= table_reservation.start_time
        %td= table_reservation.end_time
        %td= table_reservation.table_number
        %td= link_to 'Show', table_reservation
        %td= link_to 'Edit', edit_table_reservation_path(table_reservation)
        %td= link_to 'Destroy', table_reservation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Table reservation', new_table_reservation_path
