%p#notice= notice

%p
  %b Start time:
  = @table_reservation.start_time
%p
  %b End time:
  = @table_reservation.end_time
%p
  %b Table number:
  = @table_reservation.table_number

= link_to 'Edit', edit_table_reservation_path(@table_reservation)
\|
= link_to 'Back', table_reservations_path
